.env
.env.*
!.env.example
data/

node_modules/

dist/
build/
coverage/
.angular/
.vite/
.next/
.nuxt/
.parcel-cache/
.cache/
tmp/
temp/
*.tsbuildinfo

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

.DS_Store
Thumbs.db
